.sec1{
    border: red solid 1px;
    height: 150px;
    width: 100mv;
}
.sec1-logo{
    border: purple solid 1px;
    height: 150px;
    width: 170px;
}

/* clases de raul  */
/* seccion about  */
#sec5About {
    border: red solid 1px;
    height: 200px;
    width: 100mv;
}
#sec5AboutBox {
    border: blue 2px solid;
    width: 1000px;
    display: flex;
    justify-content: center;
}
.subtitulo {
    border: rgb(15, 128, 0) solid 2px;
    height: 50px;
    width: 200px;
}
.parrafo {

}

#sec6Contact {
    border: red solid 1px;
    height: 400px;
    width: 100mv;
}

/* seccion contacto */

#sec6FormHigherBox{
    border: solid yellow 2px;
    display: flex;
    justify-content: center;
}
#sec6FormBox{
    border: rgb(47, 0, 255) solid 1px;
    width: 450px;
    
}

