.sec1{
    border: red solid 1px;
    height: 150px;
    width: 100mv;
}
.sec1-logo{
    border: purple solid 1px;
    height: 150px;
    width: 170px;
}

.sec3-events {
    border: solid 1px blue;
}

.sec3-cardsContainer {
    display: flex;
    justify-content: center;
}

.sec3-eventCard {
    width: 300px;
    margin: 20px;
}

.sec4-createEvents {
    height: 400px;
    border: solid 1px blue;
}
