body {
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    border: rgb(15, 128, 0) solid 2px;
    height: 50px;
    width: 350px;
    margin-left: 75px;
    /* margin-top: 50px; */
    color: #0000cc;
}


html{
    scroll-behavior: smooth;
}

.sec1{
    border: red solid 3px;
    height: 100px;
    width: 100mv;
}

.sec1-logo{
    border: purple solid 1px;
    height: 150px;
    width: 170px;
}

.sec2{
    border: red solid 3px;
    height: 600px;
    width: 100mv;
}

.sec2-video{
    border: purple solid 2px;
    height: 590px;
    overflow: hidden;
}
.sec2-video iframe {
    height: 805px;
    width: 100%;
}

.btnEvento {
    background-color: #0000cc;
    border-color: #0000cc;
}
/* diego */
.sec3-events {
    border: solid 1px blue;
    padding-top: 100px;
}

.sec3-cardsContainer {
    display: flex;
    justify-content: center;
}

.sec3-eventCard {
    width: 300px;
    margin: 20px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.sec4-createEvents {
    height: 400px;
    border: solid 1px blue;
    padding-top: 100px;
}

/* clases de raul  */
/* seccion about  */

.sec5About {
    border: red solid 1px;
    height: 500px;
    width: 100mv;
    padding-top: 100px;
}

#sec5AboutHigherBox{
    border: solid rgba(247, 247, 242, 0.678) 2px;
    display: flex;
    justify-content: center;
 
}
.sec5AboutBox {
    border: blue 2px solid;
    background-color: whitesmoke;
    width: 75%;
    margin-top: 40px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    padding: 5px;
    border-radius: 10px;
}

/* #sec5AboutBox {
    border: black 2px solid;
    border-radius: 5px;
    background-color: rgba(247, 242, 242, 0.685);
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    padding: 10px;
    text-align: justify;
    width: 1000px;
    display: flex;
    justify-content: center;
} */


.sec6Contact {
    border: red solid 1px;
    height: 600px;
    width: 100mv;
    padding-top: 100px;
}

/* seccion contacto */

.sec6formHigherBox{
    margin: 20px;
}

#sec6FormHigherBox{
    display: flex;
    justify-content: center;

}
.sec6FormBox{
    border: grey solid 1px;
    border-radius: 5px;
    padding-left: -15px;
    border: rgb(47, 0, 255) solid 1px;
    width: 450px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    padding: 10px;
    margin: 40px;
}

#sec7End {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
